#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Dungeon Xrawler
Name[en]=Dungeon Xrawler
GenericName=Console game
GenericName[en]=Console game
GenericName[pl]=Gra konsolowa
Comment=Play a classic terminal game
Comment[en]=Play a classic terminal game
Comment[pl]=Zagraj w klasyczną grę terminalową
Path={{place}}
Icon={{place}}/dungeon-xrawler.xpm
Exec={{place}}/dungeon-xrawler
Terminal=true
StartupNotify=false
Categories=Game;StrategyGame;
